@import "../../../assets/scss/theme-variables.scss";
@import '../../style//common-classes';

.channel-setting_container {
  @extend .common-container;

    .channel-setting__header {
      @extend .common-header;
    }
    .channel-setting__divider {
      @extend .common-divider;
    }

    .toggle-cell {
      width: 100px;
    }
}

.channel-setting__header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .channel-setting__title {
      @extend .common-title;
    }

    .channel-setting__custom-title {
      @extend .common-custom-title;

    }
    
  }
  .badge-style {
    display: flex;
    gap: 4px;
}
.noTemplatesStyle{
  border-radius: 12px;
  padding-bottom: 40px;
@extend .common-border-style,
}
