@import "../../../style/common-variables";
@import "../../../style//common-classes";

.form-container {
  height: 100vh;
  background-color: $form-bg-color;
}

.header_marker {
  @extend .marker-style
}

.email-page-header {
  @extend .flex-header-style
}

.header_text {
  @extend .common-title;
}

.header-container {
  @extend .common-header-container;
}

.divider {
  @extend .common-border-style;
}

.templateheader_text {
  font-size: 14px;
  @extend .common-title;
}

.rectangular-box {
 @extend .common-rectangular-box;
}

.termscondition-header {
  font-size: 12px;
  @extend .common-title;
}

.terms-condition {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  @extend .common-title;

}