@import "../../style/common-variables";
@import "../../style/common-classes";

.form-container {
  min-height: 100vh; 
  max-height: 100vh; 
  overflow: auto; 
  background-color: $form-bg-color; 
}

.header_marker {
  @extend .marker-style
}
.section-header {
  @extend .flex-header-style
}
.header_text {
  @extend .common-title;
}
.header-container {
  @extend .common-header-container;
}
.divider {
  @extend .common-border-style;
}
.templateheader_text {
  font-size: 14px;
  @extend .common-title;
}
.rectangular-box {
  @extend .common-rectangular-box;
}
.box {
  overflow: hidden;
  background-color: transparent; 
  border: 1px solid $background-color; 
  padding: 10px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center text */
  color: var(--table-border)
}

.active-background {
  background-color: $white; /* Change this to your desired active background color */
  color: $black;
  border: 1px solid $border-color; /* Border */
}
.common_center{
  display: flex;
  justify-content: center;
}

