<div>
  <div class="divider"></div>
  <div class="px-2 form-container">
    <div class="row h-100">
      <div class="col-12 mt-3">
        <div class="col-12 mb-3">
          <app-input-textbox label="API Endpoint" placeholder="Enter API Endpoint"
            [control]="getAuthorizationConfig('apiEndpoint')"></app-input-textbox>
        </div>
        <div class="col-12 mb-3">
          <label for="region">Method</label>
          <select id="region" class="form-control mt-1" (input)="onSelectMethod($event)">
            <option value="" disabled>Select Method</option>
            <option value="Get">Get</option>
            <option value="POST">POST</option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <label for="authorization">Authorization</label>
          <select id="authorization" class="form-control mt-1" (input)="onSelectAuthorization($event)">
            <option value="" disabled>Select Authorization</option>
            <option value="No Auth">No Auth</option>
            <option value="Basic Auth">Basic Auth</option>
            <option value="Bearer token">Bearer token</option>
            <option value="API Key">API Key</option>
          </select>
        </div>
        <div>
          <div *ngIf="selectedAuth === 'Basic Auth'">
            <div class="col-12 mb-3">
              <app-input-textbox label="Username" placeholder="Enter username"
                [control]="getAuthorizationConfig('username')"></app-input-textbox>
            </div>
            <div class="col-12 mb-3">
              <app-input-textbox label="Password" type='Password' placeholder="Enter password"
                [control]="getAuthorizationConfig('password')"></app-input-textbox>
            </div>
          </div>
          <div *ngIf="selectedAuth === 'Bearer token'">
            <div class="col-12 mb-3">
              <app-input-textbox label="Token" placeholder="Enter token"
                [control]="getAuthorizationConfig('token')"></app-input-textbox>
            </div>
          </div>
          <div *ngIf="selectedAuth === 'API Key'">
            <div class="col-12 mb-3">
              <app-input-textbox label="Key" placeholder="Enter key"
                [control]="getAuthorizationConfig('key')"></app-input-textbox>
            </div>
            <div class="col-12 mb-3">
              <app-input-textbox label="Value" placeholder="Enter value"
                [control]="getAuthorizationConfig('value')"></app-input-textbox>
            </div>
            <div class="col-12 mb-3">
              <label for="region">Add to</label>
              <select id="region" class="form-control mt-1">
                <option value="" disabled>Large Select</option>
                <option value="Query Params">Query Params</option>
                <option value="Header">Header</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div>
            <div class="form-check mb-3">
              <input type="checkbox" [(ngModel)]="isCustomHeaderEnabled" (change)="toggleCustomHeaders()"
                class="form-check-input" id="customHeaders" />
              <label class="form-check-label" for="customHeaders">Custom Header</label>
            </div>
            <div>
              <div *ngIf="isCustomHeaderEnabled" class="row w-100 mb-3">
                <div *ngFor="let header of customHeaders.controls; let i = index" class="row w-100 mb-3">
                  <div class="col-5">
                    <app-input-textbox placeholder="Enter Key" [control]="$any(header).get('key')"></app-input-textbox>
                  </div>
                  <div class="col-5">
                    <app-input-textbox placeholder="Enter Value"
                      [control]="$any(header).get('Value')"></app-input-textbox>
                  </div>
                  <div class="col-2  d-flex justify-content-start align-items-start ">
                    <app-ds-button type="button" (click)="addCustomHeader($event)">+</app-ds-button>
                    <app-ds-button type="button" class="ms-1" (click)="removeCustomHeader($event,i)"
                      varient="light">-</app-ds-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="form-check mb-3">
              <input type="checkbox" [(ngModel)]="requestMappingEnabled" (change)="toggleRequestMappings()"
                class="form-check-input" id="requestMapping" />
              <label class="form-check-label" for="requestMapping">Request Mapping</label>
            </div>
            <div>
              <div *ngIf="requestMappingEnabled" class="row w-100 mb-3">
                <div *ngFor="let mapping of requestMappings.controls; let i = index" class="row mb-3">
                  <div class="col-5">
                    <app-input-textbox placeholder="Enter Datafield"
                      [control]="$any(mapping).get('key')"></app-input-textbox>
                  </div>
                  <div class="col-5">
                    <app-input-textbox placeholder="Enter Mapto"
                      [control]="$any(mapping).get('Value')"></app-input-textbox>
                  </div>
                  <div class="col-2 d-flex justify-content-start align-items-start">
                    <app-ds-button type="button" (click)="addRequestMapping($event)">+</app-ds-button>
                    <app-ds-button type="button" class="ms-1" varient="light"
                      (click)="removeRequestMapping($event, i)">-</app-ds-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="form-check mb-3">
              <input type="checkbox" [(ngModel)]="responseMappingEnabled" (change)="toggleResponseMappings()"
                class="form-check-input" id="responseMapping" />
              <label class="form-check-label" for="responseMapping">Response Mapping</label>
            </div>
            <div>
              <div *ngIf="responseMappingEnabled" class="row w-100 mb-3">
                <div *ngFor="let mapping of responseMappings.controls; let i = index" class="row mb-3">
                  <div class="col-5">
                    <app-input-textbox placeholder="Enter Datafield"
                    [control]="$any(mapping).get('key')"></app-input-textbox>
                  </div>
                  <div class="col-5">
                    <app-input-textbox placeholder="Enter Mapto"
                    [control]="$any(mapping).get('Value')"></app-input-textbox>
                  </div>
                  <div class="col-2 d-flex justify-content-start align-items-start">
                    <app-ds-button type="button" (click)="addResponseMapping($event)">+</app-ds-button>
                    <app-ds-button type="button" (click)="removeResponseMapping($event, i)" class="ms-1" varient="light">-</app-ds-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
