.editor-container {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 140px;
  min-height: 140px;
  display: flex;
  max-width: 730px;
  width: inherit;
  box-sizing: border-box;
}

::ng-deep .ql-container {
  height: 100px;
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
}

::ng-deep .ql-toolbar.ql-snow {
  font-family: var(--font-family) !important;
}
